body{
  display: flex;
  flex: 1; 
  background-color: #CCCCFF;
  justify-content: center;
  align-items: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eighth, #ninth, #tenth{
  padding: 5;
}